/*Estilos de index.html*/
.center {
    font-size: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

#menu li {
    display: inline;
    padding: 15px;    
}
#menu li a {
    text-decoration: none;
    color: #10ac84;
    font-size: 23px;
}

#menu li a:hover {
    color: #F3EDE7;
    background-color: #10ac84;
    border-bottom: #ff6b6b;
    padding: 13px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.p-30 {
    padding: 20px;
}

.br-80 {
    border-radius: 80px;
}

.wh-300 {
    width: 500px;
    height: 350px;
}
body{
    background-color: #F3EDE7;
    text-decoration: #733E35;
}

.tm-social {
    width: 50px;
    height: 50px;
}

.style{
    font-family: 'Roboto Mono', monospace;
    color:#10ac84;
	}

/*Estilos de contato.html*/

.ml-50 {
    margin-left: 100px;
}